.sobre{
    text-align: center;
    
}

@media screen and (min-witdh:0){
    .sobre{
        padding: 2.5rem 1rem;
    }}

    @media screen and (min-witdh:768px){
    .sobre{
        padding: 2.5rem;
    }}
