.sobre__titulo{
    color: #8d0606;
    font-family: pacifico, cursive;
   
}

@media screen and (min-witdh:0){
    .sobre__titulo{
        font-size: 2rem;
    }}

    @media screen and (min-witdh:768px){
    .sobre__titulo{
        font-size: 3.1875rem;
    }}

